.screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.screen .div {
    background-color: #ffffff;
    width: 847px;
    height: 813px;
    position: relative;
}

.screen .frame {
    position: absolute;
    width: 764px;
    height: 524px;
    top: 200px;
    left: 42px;
    background-color: #eeeeee;
    border-radius: 35.17px;
    overflow: hidden;
}

.screen .overlap {
    position: absolute;
    width: 764px;
    height: 347px;
    top: 229px;
    left: 0;
}

.screen .rectangle {
    position: absolute;
    width: 764px;
    height: 250px;
    top: 97px;
    left: 0;
    background: linear-gradient(
        180deg,
        rgb(255, 255, 255) 15%,
        rgba(255, 255, 255, 0) 100%
    );
}

.screen .group {
    position: absolute;
    width: 698px;
    height: 121px;
    top: 0;
    left: 40px;
}

.screen .slow-wrapper {
    display: flex;
    width: 341px;
    height: 69px;
    align-items: center;
    justify-content: center;
    gap: 8.79px;
    padding: 21.1px 45.72px;
    position: absolute;
    top: 14px;
    left: 212px;
    background-color: var(--ffffff);
    border-radius: 42.2px;
    border: 1.76px solid;
    border-color: var(--x-416-7d-9);
    box-shadow: 2.64px 3.52px 5.27px #00000040;
}

.screen .slow {
    position: relative;
    width: fit-content;
    margin-top: -1.63px;
    font-family: "SUIT-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--x-416-7d-9);
    font-size: 22px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.screen .text-wrapper {
    font-family: "SUIT-SemiBold", Helvetica;
    font-weight: 600;
    color: #4167d9;
    font-size: 22px;
    letter-spacing: 0;
}

.screen .span {
    font-size: 17.6px;
}

.screen .overlap-group {
    position: absolute;
    width: 698px;
    height: 157px;
    top: 60px;
    left: 40px;
}

.screen .img {
    position: absolute;
    width: 698px;
    height: 121px;
    top: 0;
    left: 0;
}

.screen .fast-wrapper {
    display: inline-flex;
    height: 69px;
    align-items: center;
    justify-content: center;
    gap: 8.79px;
    padding: 15.82px 54.51px;
    position: absolute;
    top: 87px;
    left: 172px;
    background-color: #4167d9;
    border-radius: 42.2px;
    box-shadow: 2.64px 3.52px 5.27px #00000040;
}

.screen .fast {
    position: relative;
    width: fit-content;
    font-family: "SUIT-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
}

.screen .text-wrapper-2 {
    font-family: "SUIT-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 0;
}

.screen .overlap-wrapper {
    position: absolute;
    width: 230px;
    height: 49px;
    top: 48px;
    left: 44px;
}

.screen .overlap-2 {
    position: relative;
    width: 228px;
    height: 49px;
}

.screen .c-review {
    position: absolute;
    width: 228px;
    top: 0;
    left: 0;
    font-family: "Jalnan Gothic TTF-Regular", Helvetica;
    font-weight: 400;
    color: #4167d9;
    font-size: 45.3px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.screen .text-wrapper-3 {
    font-family: "Jalnan Gothic TTF-Regular", Helvetica;
    font-weight: 400;
    color: #4167d9;
    font-size: 45.3px;
    letter-spacing: 0;
}

.screen .text-wrapper-4 {
    font-size: 6.8px;
}

.screen .overlap-group-wrapper {
    position: absolute;
    width: 27px;
    height: 31px;
    top: 14px;
    left: 32px;
}

.screen .overlap-group-2 {
    position: relative;
    width: 30px;
    height: 34px;
    top: -3px;
    left: -3px;
}

.screen .ellipse {
    position: absolute;
    width: 30px;
    height: 31px;
    top: 0;
    left: 0;
    border-radius: 15.15px / 15.29px;
    border: 5.66px solid;
    border-color: #4167d9;
}

.screen .rectangle-2 {
    position: absolute;
    width: 7px;
    height: 1px;
    top: 11px;
    left: 11px;
    background-color: #4167d9;
}

.screen .rectangle-3 {
    position: absolute;
    width: 9px;
    height: 1px;
    top: 14px;
    left: 11px;
    background-color: #4167d9;
}

.screen .rectangle-4 {
    position: absolute;
    width: 7px;
    height: 1px;
    top: 18px;
    left: 11px;
    background-color: #4167d9;
}

.screen .rectangle-5 {
    position: absolute;
    width: 5px;
    height: 9px;
    top: 25px;
    left: 23px;
    background-color: #4167d9;
    transform: rotate(-42.98deg);
}

.screen .line {
    position: absolute;
    width: 847px;
    height: 2px;
    top: 122px;
    left: 0;
}

.screen .text-wrapper-5 {
    position: absolute;
    width: 118px;
    top: 29px;
    left: 45px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #a1a1a1;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}